//global color can be changed here
$font-stack: 'Baloo', cursive;
$main-color: #FFFAD5;
$font-color: #FFD34E;
$header-footer-color: #105B63;
//mixin created to make sure all images called fit into thier div
@mixin pop-up-images() {
  background-size: cover;
  position: center;
  display: block;
}

body {
  background-color: $main-color;
  color: $font-color;
  margin: 0;
  font-family: $font-stack;
}

header {
  height: 75px;
  width: 100%;
  background-color: $header-footer-color;
  color: $font-color;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: $font-color;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: $font-color;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: $font-color;
}

main {
  width: 1020px;
  height: 600px;
  margin: auto;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
//introduction (landing) page
.introduction {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #105B63;
  text-align: center;

  .introText {
    margin: 100px auto;
    height: 500px;
    width: 700px;

    p {
      width: 100%;
      font-size: 40px;
      text-align: center;
      margin: 10px;
    }
  }
}
//global asignment so that anything with the class hide is forced to be hidden
.hide {
  display: none!important;
}
//make reactive for screens less than 1050px wide
@media only screen and (max-width: 1050px) {
  main {
    width: 510px;
  }
}

//make reactive for screens less than 800px in height
@media only screen and (max-height: 800px) {
  header, footer {
    display: none;
  }
}

.title {
  width: 100%;
  height: 50px;
  clear: both;
}
//container for main playing area and gameinformation
section {
  width: 500px;
  height: 610px;
  margin: 5px;
  background-color: #BD4932;
  color: #DB9E36;
  float: left;
}

//start button
button {
  margin: 5px 10px 5px 20px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #BD4932;
  background-color: #FFFAD5;
  border-radius: 6px;
}
//pulse effect for the play button, so that it draws the eye after the user moves from the intro screen
.pulse {
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite
}

@-webkit-keyframes pulsate {
0% { opacity: 0.0}
 10% { opacity: .20}
 20% { opacity: .40 }
 30% { opacity: .60 }
 40% { opacity: .80 }
 50% { opacity: 1.0}
 60% { opacity: .80}
 70% { opacity: .60}
 80% { opacity: .40}
 90% { opacity: .20}
 100% { opacity: 0.0}
}

.info {
  height: 50px;
  clear: both;
  p {
    margin-left: 50px;
  }
  button {
    margin-left: 50px;
  }
//effect to make timmer shudder when it counts down to zero
  #timerScreen.ringing {
    animation: shake 0.5s infinite;
  }
}

.gameholder {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  clear: both;
}

.scoreboard {
  width: 100%;
  height: 100px;
  clear: both;
}

.scoreinfo {
  float: left;
  width: 100%;
  height: 240px;
  clear: both;
}

,
.player {
  margin-top: 25px;
  float: left;
  width: 240px;
}

.topscore {
  margin-top: 25px;
  float: right;
  width: 240px;
}

.badgearea {
  width: 400px;
  height: 200px;
  margin: 10px auto;
  clear: both;
}

p {
  float: left;
  color: #DB9E36;
  width: 120px;
  line-height: 1.0;
  margin: 5px 5px 5px 10px;
}

// game area squares
div {
  .square {
    height: 75px;
    width: 75px;
    float: left;
    margin: 5px;
    border: black solid 1px;
    background-size: cover;
    background-position: center;
    //reveal otter
    &.otter {
      background-image: url("../assets/images/otternormal.jpeg");
      @include pop-up-images();
    }
    //reveal beaver
    &.beaver {
      background-image: url("../assets/images/beaver.jpeg");
      @include pop-up-images();
    }
  }
  // bage background
  .badge {
    height: 75px;
    width: 75px;
    float: left;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgba(192,192,192,0.5);
    @include pop-up-images();
    //badges
    &.badge1 {
      background-image: url("../assets/images/beaver5points.png");
    }

    &.badge2 {
      background-image: url("../assets/images/beaver10points.png");
    }

    &.badge3 {
      background-image: url("../assets/images/beaver15points.png");
    }

    &.badge4 {
      background-image: url("../assets/images/beaver20points.png");
    }

    &.badge5 {
      background-image: url("../assets/images/topscore.png");
    }

    &.badge6 {
      background-image: url("../assets/images/missthemark.jpg");
    }

    &.badge7 {
      background-image: url("../assets/images/otter5.png");
    }

    &.badge8 {
      background-image: url("../assets/images/otter10.png");
    }
  }
}
//user feedback screens

.screen {
  width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: #444;
  border-radius: 4px;
  text-align: right;
  font-family: 'PT Mono', monospace;
  font-weight: bold;
  color: $font-color;
  font-size: 25px;
  float: left;
  margin: 5px 15px 5px 5px;
}

footer {
  height: 75px;
  width: 100%;
  background-color: $header-footer-color;
  clear: both;
  position: fixed;
  bottom: 0;

  .generalAssembly {
    float: right;
    margin: 10px;
  }

  .personal {
    float: left;
    margin: 10px;
  }

  a {
    color: $font-color;
    margin: 10px;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
