body {
  background-color: #FFFAD5;
  color: #FFD34E;
  margin: 0;
  font-family: 'Baloo', cursive;
}

header {
  height: 75px;
  width: 100%;
  background-color: #105B63;
  color: #FFD34E;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #FFD34E;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #FFD34E;
}

h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: #FFD34E;
}

main {
  width: 1020px;
  height: 600px;
  margin: auto;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.introduction {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #105B63;
  text-align: center;

  .introText {
    margin: 100px auto;
    height: 500px;
    width: 700px;

    p {
      width: 100%;
      font-size: 40px;
      text-align: center;
      margin: 10px;
    }
  }
}

.hide {
  display: none!important;
}
@media only screen and (max-width: 1050px) {
  main {
    width: 510px;
  }
}
@media only screen and (max-width: 320px) {
  main {
    //make responsive for mobiles
  }
}

.title {
  width: 100%;
  height: 50px;
  clear: both;
}

section {
  width: 500px;
  height: 590px;
  margin: 5px;
  background-color: #BD4932;
  color: #DB9E36;
  float: left;
}
//start button

button {
  margin: 5px 10px 5px 20px;
  height: 30px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  color: #BD4932;
  background-color: #FFFAD5;
  border-radius: 6px;
}

.info {
  height: 50px;
  clear: both;

  #timerScreen.ringing {
    animation: shake 0.5s infinite;
  }
}

.gameholder {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  clear: both;
}

.scoreboard {
  width: 100%;
  height: 50px;
  clear: both;
}

.scoreinfo {
  float: left;
  width: 100%;
  height: 240px;
  clear: both;
}

,
.player {
  margin-top: 25px;
  float: left;
  width: 240px;
}

.topscore {
  margin-top: 25px;
  float: right;
  width: 240px;
}

.badgearea {
  width: 400px;
  height: 200px;
  margin: 10px auto;
  clear: both;
}

p {
  float: left;
  color: #DB9E36;
  width: 120px;
  line-height: 1.0;
  margin: 5px 5px 5px 10px;
}
// game area squares

div {
  .square {
    height: 75px;
    width: 75px;
    float: left;
    margin: 5px;
    border: black solid 1px;
    background-size: cover;
    background-position: center;
    //reveal otter
    &.otter {
      background-image: url("../assets/images/otternormal.jpeg");
      size: cover;
      position: center;
      display: block;
    }
    //reveal beaver
    &.beaver {
      background-image: url("../assets/images/beaver.jpeg");
      size: cover;
      position: center;
      display: block;
    }
  }
  // bage background
  .badge {
    height: 75px;
    width: 75px;
    float: left;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgba(192,192,192,0.5);
    //badges
    &.badge1 {
      background-image: url("../assets/images/beaver5points.png");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge2 {
      background-image: url("../assets/images/beaver10points.png");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge3 {
      background-image: url("../assets/images/beaver15points.png");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge4 {
      background-image: url("../assets/images/beaver20points.png");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge5 {
      background-image: url("../assets/images/topscore.png");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge6 {
      background-image: url("../assets/images/missthemark.jpg");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge7 {
      background-image: url("../assets/images/otter5.png");
      background-size: cover;
      position: center;
      display: block;
    }

    &.badge8 {
      background-image: url("../assets/images/otter10.png");
      background-size: cover;
      position: center;
      display: block;
    }
  }
}
//user feedback screens

.screen {
  width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: #444;
  border-radius: 4px;
  text-align: right;
  font-family: 'PT Mono', monospace;
  font-weight: bold;
  color: #FFD34E;
  font-size: 25px;
  float: left;
  margin: 5px 15px 5px 5px;
}

footer {
  height: 75px;
  width: 100%;
  background-color: #105B63;
  clear: both;
  position: absolute;
  bottom: 0;

  .generalAssembly {
    float: right;
    margin: 10px;
  }

  .personal {
    float: left;
    margin: 10px;
  }

  a {
    color: #FFD34E;
    margin: 10px;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
